$font-family-sans-serif: "Lucida Sans Unicode", "Lucida Grande", sans-serif;


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: black;
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #root {
    justify-self: start;
  }
  .text{
    font-size: 100px;
    margin:100px 50px;
    color:white;
  }
 
  #root{
    width:100%;
  }

  .input-range, .text{
    width:90% !important;
  } 

  .input-range{
    margin-left: 60px;
    position: fixed !important;
    bottom:40px;
  }

  // Make sure multiline text is rendered properly in react:
  .display-linebreak {
    white-space: pre-line;
  }