$font-family-sans-serif: "Lucida Sans Unicode", "Lucida Grande", sans-serif;


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: black;
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #root h1{
    font-size: 120px;
    margin:200px 50px;
    color:white;
    justify-self:center;
    // max-width: 50%;
  }